$body-background: rgb(241, 239, 240);
$brand-primary: rgb(126, 103, 103);
$primary-font-size: 14pt;
$secondary-font-size: $primary-font-size / 2.5pt;
$card-backgound: white;
$card-text-color: rgb(107, 207, 137);
$button-bg-color: #02366d;
$a-color: #ceee18;
$strong-color:rgb(181, 223, 32);